.background {
  position: relative;
  background-color: $bg-beige;

  &__slogan {
    font-family: "Yantramanav", sans-serif;
    font-size: 3rem; // ≈ 48px (assuming 1rem = 16px)
    text-align: center;
    padding-top: 6.25rem; // 100px
    padding-bottom: 6.1rem; // 94px
    letter-spacing: -0.03rem;
    margin: 0;
  }

  &__rectangle1 {
    width: 106.875rem; // 1710px ÷ 16 = 106.875rem
    height: 7.8125rem; // 125px ÷ 16 = 7.8125rem
    background-color: $gold-beige;
    // Position to the right
    margin-left: auto; // pushes it to the right
    margin-right: 0;
  }
  &__rectangle2 {
    width: 31.0625rem;
    height: 21.145rem;
    background-color: $golden-beige;
    position: relative;
    margin-top: 41.543rem;
    margin-right: auto;
    margin-left: 0;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 72.9375rem;
      height: 100%;
      background-color: #fff9ef;
      left: 31.0625rem;
      top: 0;
    }
  }
  &__rectangle3 {
    position: relative;
    width: 9.875rem;
    height: 15.665rem;
    background-color: #729aba;
    margin-top: 71.493rem;
    margin-left: 0; // pushes it to the right
    margin-right: auto;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 9.875rem;
      height: 20.758rem;
      background-color: #a1ba72;
      left: 104rem;
      bottom: 0;
    }
  }
  &__rectangle4 {
    width: 69.0625rem; // 1105px
    height: 31.6875rem; // 507px
    background-color: #ba7273;

    // Position at right
    margin-left: auto; // pushes to the right
    margin-right: 0;

    // Top spacing as requested
    margin-top: 46.465rem;
  }
  &__rectangle5 {
    width: 69.0625rem;
    height: 31.6875rem;
    background-color: #baa272;

    margin-top: 69.6875rem;
    margin-left: 0;
    margin-right: auto;
  }
  &__environment {
    position: absolute;
    top: 20rem;
    left:50%;
    transform: translateX(-50%);
    width: 106.125rem;
    height: 354.625rem;
    background-color: #fbf0df;
  }
}
