@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.main {
    position: relative;
    margin-top: 9rem;
    @include respond-to('sm') {
      top: -11.25rem;
    }
}

.main-pension {
    background-image: url("../assets/back-2.webp");
    width: 100%;
    height: 586.75rem;
}

.main-support {
    background-image: url("../assets/back-3.png");
    width: 100%;
    height: 1059.0625rem;
}